//font sizes
$base-font-size: 16px;
$h1-font-size: 2.5em;
$h2-font-size: 2em;
$h3-font-size: 1.75em;
$h4-font-size: 1.5em;
$h5-font-size: 1.25em;
$h6-font-size: 1em;
//media queries
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;
// colors variables
$primary: black;
$secondary: red; 
$accent: green;
// menu variable
$menu-bgc-color: rgba(128, 128, 128, 0); 
$menu-hamburger-color: black;
$menu-item-color: black;

//footer variable 
$footer-bgc-color: rgba(0, 0, 0, 0);
$footer-links-color: white;
$footer-accent-color: $accent;